# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
# Usually these files are written by a Python script from a template
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Pyre type checker
.pyre/

# mypy type checker
.mypy_cache/

# Flask & Django files
instance/
.webassets-cache
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.nox/
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook files
.ipynb_checkpoints

# PyCharm
.idea/

# VSCode
.vscode/

# macOS
.DS_Store

# Logs and databases
*.log
*.sqlite3

# dotenv
.env
.env.*

# AWS credentials and configuration files
.aws/
*.pem

# Ignore any local configuration files
config.py
settings.py
extractor
